extends header

block content
    div.row.col-sm-6.col-sm-offset-3
        if (msg.length != 0)
            div.alert.alert-info.text-center(role="alert") #{msg}
    div.row
        div.col-sm-6.col-sm-offset-3.text-center
            form.form-inline(method='POST', action='/login')
                div.form-group
                    label.sr-only(for='username') Username
                    input.form-control#username(type='text', name='username', placeholder='Username', value='#{username}')
                div.form-group
                    label.sr-only(for='password') Password
                    input.form-control#password(type='password', name='password', placeholder='Password')
                button.btn.btn-default(type='submit') Log In

                //- div.row
                //-     div.col-sm-12
                //-         h4.text-center or
                //- div.row
                //-     div.col-sm-6.col-sm-offset-3
                //-         span.div.col-sm-6.col-sm-offset-3.text-center
                //-           a(href="register")
                //-          button.btn.btn-default(type="button") Go to Registration1
                //-          
                //-          button(type="button", onclick="/register") Go to Registratio
