doctype html
html
    head
        title Transmission
        link(href='/stylesheets/foundation.min.css', rel="stylesheet")
        link(href='/stylesheets/style.css', rel="stylesheet")

    header.topheader
            //- div.small-12.columns.topheader
            p Jill Whittick - Servier Side Programming 2017


    body.container-fluid-width
        div.row
            if access
                div.small-10.columns
                    a.button(href="/") My Playlists
                div.small-2.columns
                    a.button.small(href="/logout") Logout
                
    block content
